.title{
    font-family: 'Satisfy', cursive !important;
}

.title-section{
    background-image: url('https://images.pexels.com/photos/775033/pexels-photo-775033.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    min-height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;

}

#book-table{
    background-image: url('../img/michael-browning-188999-unsplash.jpg');
    min-height: 50em;
    background-repeat: no-repeat;
    background-size: cover;   
}


#dices-coll{
    background-image: url('https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    min-height: 50em;
    background-repeat: no-repeat;
    background-size: cover;   
}



.margin-left{
    margin-left: 12vw;
}

.center-text{
    text-align: center;
}